*{
    text-align: center;
    color:blue ;
    width: 100%;
    height: 50%;
    margin: 3px;
    padding: 7px;
}
body{
    background-image: url(./images.jpg);
    background-size:cover ;
}